* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

.section {
    text-align: center;
}

.paragraph {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    font-weight: 28px;
}

.top {
    background-color: #afddfb;
    height: 35vh;
}

.logo {
    width: 150px;
}

.paragraph-top {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.link {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

.banner {
    margin-top: 50px;
    padding-top: 0;
}

.blue {
    color: #1c81c0;
    font-weight: bold;
    
}

.yellow {
    color: #fff81b;
    font-weight: bold;
}

.text-one {
    color: #1d1d1d;
    margin-bottom: 5px;
    padding: 10px;
}

.text-two {
    color: #1c81c0;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 5px;
}

.img {
    width: 450px;
}

.servico {
    background-color: #1c81c0;
    height: 60vh;
}

.sub-title {
    font-size: 28px;
    font-weight: 42px;
    color: #ffffff;
    padding: 10px;
}

.text-servico {
    color: #ffffff;
    font-size: 22px;
    font-weight: 42px;
    width: 700px;
    text-align: center;
}

.list-servico {
    margin: 40px auto;
    width: 135px;
    color: #ffffff;
    font-weight: 42px;
    text-align: left;
    font-size: 22px;
}

.four {
    color:  #1c81c0;
    font-size: 28px;
    font-weight: 42px;
}

.contato {
    background-color: #1c81c0;
    height: 80vh;
}

.paragraph-five {
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.list-contact {
    margin: 40px auto;
    width: 210px;
    list-style-type: none;
}

.contact {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    color: #1c81c0;
    padding: 2px 5px;
    border-radius: 5px;

}